@{
    ViewData["Title"] = "Login";
}
@section Scripts {
    <script src="~/js/Script.js"></script>
}
@{
    var user = Context.Request.Cookies["userName"];
}
<body>
    <header>
        <a asp-controller="Home" asp-action="Index" class="text-decoration-none">
            <h1 class="m-0 text-white">PhishGuard</h1>
        </a>
        @if (!string.IsNullOrEmpty(user))
        {
            <span style="margin-left:1rem;color:white;font-size:1.2rem;">
                Welcome, @user!
            </span>
        }
        <nav>
            <div class="dropdown">
                <button class="menu-button">Menu</button>
                <div class="dropdown-content">
                    <a asp-controller="Home" asp-action="Index">Home</a>
                    <a asp-controller="Pages" asp-action="About">About</a>
                    <a asp-controller="Pages" asp-action="Help">Help</a>
                    <a asp-controller="Pages" asp-action="Resources">Cybersecurity Resources</a>
                    <a asp-controller="Pages" asp-action="History">History</a>
                    <a asp-controller="Upload" asp-action="Index">Upload</a>
                </div>
            </div>
            <a asp-controller="Pages" asp-action="Login"
               class="login-button btn-primary">Login</a>
        </nav>
    </header>


    <section>
        <h2>Sign In</h2>
        <form asp-controller="Pages" asp-action="Login" method="post" class="mb-3">
            <label for="user">User&nbsp;name:</label><br />
            <input type="text" id="user" name="user" required class="form-control" /><br />

            <button type="submit" class="btn btn-primary mt-2">Login</button>
        </form>
        <p>Don't have an account? <a asp-controller="Pages" asp-action="Signup">Signup</a></p>
    </section>

    <footer>
        <p>&copy; 2025 PhishGuard | Stay Safe Online</p>
    </footer>
</body>