@{
    ViewData["Title"] = "Help";
    var user = Context.Request.Cookies["userName"];
}
@section Scripts {
    <script src="~/js/Script.js"></script>
}

<a asp-controller="Pages" asp-action="Help">
    <img src="~/img/phishimage.png" id="phish-image" alt="Phish Image" />
</a>

<body>
    <header>
        <a asp-controller="Home" asp-action="Index" class="text-decoration-none">
            <h1 class="m-0 text-white">PhishGuard</h1>
        </a>
        @if (!string.IsNullOrEmpty(user))
        {
            <span style="margin-left:1rem;color:white;font-size:1.2rem;">
                Welcome, @user!
            </span>
        }
        <nav>
            <div class="dropdown">
                <button class="menu-button">Menu</button>
                <div class="dropdown-content">
                    <a asp-controller="Home" asp-action="Index">Home</a>
                    <a asp-controller="Pages" asp-action="About">About</a>
                    <a asp-controller="Pages" asp-action="Help">Help</a>
                    <a asp-controller="Pages" asp-action="Resources">Resources</a>
                    <a asp-controller="Pages" asp-action="History">History</a>
                    <a asp-controller="Upload" asp-action="Index">Upload</a>
                    <a asp-controller="Pages" asp-action="Contact">Contact Us</a>
                </div>
            </div>
            <a asp-controller="Pages" asp-action="Login"
               class="login-button btn-primary">Login</a>
            <a asp-controller="Pages" asp-action="Logout"
               class="login-button btn-danger">Logout</a>
        </nav>
    </header>

    <section>
        <h2>How To Contact Us</h2>
            <p>Ahmad Fatani - 2136635 - Ahmadhfatani@gmail.com</p>
            <p>Faisal Mousa - 2236711 -Faisalhhh77@gmail.com</p>
    </section>


    <footer>
        <p>&copy; 2025 PhishGuard | Stay Safe Online</p>
    </footer>
</body>
